<div class="bg-info p-a-1 text-xs-center">
	<h1 >Web App Capec Analyzer</h1>
	<h6>Seleziona una delle query disponibili o aggiungine delle nuove</h6>
</div>
<div class="p-a-1">
</div>
<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Description</th>
			<th>SQL</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
			<tr *ngFor="let q of queries">
				<td >{{q.id}}</td>
				<td>{{q.description}}</td>
				<td>{{q.sql}}</td>
				<td>
					<button class="btn btn-primary btn-block" (click)="goToResult(q.id)">
						 Execute 
					</button>
				</td>
			</tr>
	</tbody>
</table>
<div class="text-xs-left">
	<button class="btn btn-info " (click)="newQuery()">New</button>			
</div>
